@import "markdown";

.container {
  margin-top: 65px;

  &-post_header {
    grid-column-start: 1;
    grid-column-end: 4;
    overflow: hidden;
    text-align: center;
    color: white;
    height: 300px;

    &-date {
      margin-top: 100px;
      font-weight: lighter;

      @media (max-width: 650px) {
        margin-top: 80px;
      }
    }

    &-blur {
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 300px;
    }

    &-title {
      @media (max-width: 650px) {
        padding: 0 3px;
      }
    }
  }

  &-content {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 1.2em;
    overflow: hidden;
    color: #2c3e50;

    &-category {
      display: flex;
      margin-bottom: 30px;
      padding: 0 10px;

      &-link {
        //background: linear-gradient(120deg, #1d3e81, #b52a1d);
        background: #ecf0f1;
        padding: 0px 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        color: #2c3e50;
        border-radius: 4px;
        box-shadow: -1px 15px 55px -13px rgba(0,0,0,0.75);

        &:first-child {
          margin-left: 0;
        }

        p {
          font-weight: lighter;
          margin: 5px;
        }
      }
    }
  }
}
